.tbl_body{
		margin-top: 10%;
		margin-left: 40%;
		background-color: #003b4d;
		display: inline-table;
		padding: 10px;
		border-radius: 15px;


}
table{
	border-collapse: separate;
	border-spacing: 8px;
	
}
tbody{

}
.cal_btn{
	text-align: center;
	padding: 10px;
	background-color: #0193bd;
	color: white;
}
.cal_btn:hover{
	cursor:pointer;
	background-color: #ef6d64;
	color: white;
}
.blk{
	background-color: #0193bd;
}
#typed{
	color: white;
	margin-left: 10%; 
}
/*
#textarea{
	direction: rtl;
}
*/
